

.container-fluid{
    
   background-color: rgba(190, 187, 185, 0.822);
   background-size: 100%;
   background-repeat: no-repeat;
    background-attachment: fixed;
  

}
.fondo {
     
    border-radius: 10px; 
}
.rounded-circle {
    width:200px;
    height:200px; 
}
.redesSocial {
             width:30px;
			top:30px;
			
}


