@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');

.form-create{
    border: 1px solid #b1b1b1;
    padding: 40px;
    border-radius: 10px;
    background-color: #eeeeee;
    font-family: 'Outfit', sans-serif;
}

.form-label, .create-btn{
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}

.span-font{
    position: absolute;
}

button a {
    text-decoration: none;
    color: #ffffff;
}
