<h1 class="p-4">Catálogo de instrumentos musicales</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card border-3 m-lg-2">
        <h5 class="card-title p-4">Guitarra electrica CORT R200</h5>
        <img src="assets\img\catalogue\guitarra.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Cort es un fabricante de guitarras eléctricas, acústicas, bajos y amplificadores que surge en Corea en 1973. Con fábricas en China e Indonesia, la compañía ha sabido abrirse paso entre otras marcas, ofreciendo una amplia variedad de instrumentos con un estilo bastante atractivo.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-3 m-lg-2">
        <h5 class="card-title p-4">Guitarra electroacústica CORT CLÁSICA</h5>
        <img src="assets\img\catalogue\guitarra2.jpg" class="card-img-top" alt="2">
        <div class="card-body">
          
          <p class="card-text">Este modelo del fabricante Ibanez tiene un cuerpo laminado que podemos encontrar en varios colores y su tapa armónica cd pino obtiene una gran calidad de sonido y un precio extremadamente barato respaldado por el nombre y la calidad de Ibanez.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-title p-4">Guitarra electrica CORT R100</h5>
        <img src="assets\img\catalogue\guitarra3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
         
          <p class="card-text">Las elegantes y completamente modernas guitarras de la Serie X están diseñadas para la velocidad, la potencia y la agresión. Los contornos extremos en el cuerpo y la articulación del cuello brindan comodidad</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <h5 class="card-title p-4">Guitarra electrica CORT SIGNATURE </h5>
        <img src="assets\img\catalogue\guitarra4.jpg" class="card-img-top" alt="4.">
        <div class="card-body">
          <p class="card-text">Desarrollado conjuntamente con el legendario guitarrista Frank Gambale, este es un verdadero modelo de firma en el que el artista tuvo una gran cantidad de información sobre cada detalle de la guitarra.</p>
        </div>
      </div>
    </div>
  <div class="col">
    <div class="card">
      <h5 class="card-title p-4">Batería Negra Yamaha </h5>
      <img src="assets\img\catalogue\bateria1.jpg" class="card-img-top" alt="1">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h5 class="card-title p-4">Batería Roja Yamaha RYDEEN</h5>
      <img src="assets\img\catalogue\bateria2.jpg" class="card-img-top" alt="2">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h5 class="card-title p-4">Acordeón Negro Hohner</h5>
      <img src="assets\img\catalogue\acordeon1.png" class="card-img-top" alt="1">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h5 class="card-title p-4">Acordeón Rojo Hohner</h5>
      <img src="assets\img\catalogue\acordeon2.png" class="card-img-top" alt="2">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card">
      <h5 class="card-title p-4">Acordeón Rojo Hohner</h5>
      <img src="assets\img\catalogue\acordeon2.png" class="card-img-top" alt="2">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  

</div>
